<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/234527db-8a98-4a96-9f2c-5bc8f1f7a298/resourceGroups/cdv/providers/Microsoft.Web/sites/Lab1-Korcz</ResourceId>
    <ResourceGroup>cdv</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://lab1-korcz.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>lab1-korcz.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Lab1-Korcz</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Lab1-Korcz</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>